.PostItem{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px var(--gris90);
    margin: auto;
    width: 60%;
    color: var(--gris90);
    padding: 6rem;
    margin: 3rem auto;
    border-radius: 1rem;
    h1{
        font-size: 2.5rem;
        text-transform:capitalize;
    }
    p{
        font-size: 1.8rem;
        color: var(--gris90);
    }
}